/* SEARCH FILTER */
.search-filter {
    width: 50%;
    justify-items: center;
}

.search-filter .search-form {
    width: 100%;
    height: 50%;
    align-self: center;
}

.search-filter input {
    text-align: center;
    flex-grow: 1;
    outline: none;
}

.search-filter button {
    display:none;
}


/* FOLDER FILTER */

.folder-filter {
    width: 100%;
    height: 100vh;
    color: var(--clrSideBarTxt);
}

.folder-filter .side-bar-items {
    align-items: start;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.folder-filter .side-bar-items li {
    width: 90%;
}

.folder-filter .side-bar-items button {
    width: 100%;
    padding: 0.5rem 0.5rem;
    background-color: transparent;
    color: var(--clrMailFolderActiveTxt);
}

.folder-filter .side-bar-items button.active {
    background-color: var(--clrMailFolderActiveBg);
}

.folder-filter .side-bar-items button:hover:not(.active) {
    background-color: #d9e4f0;
}