 /* mail list */
.mail-list{
    padding:0;
    background-color: var(--clrMailListBg);
}

.mail-list button{
    border-radius: 50%;
    background-color: transparent;
}

.mail-list button img{
    width: 1.5em;
    height: 1.5em;
}

.mail-list-item {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.5rem;
    gap: 0.5rem;
    border-bottom: 1px solid #eaeaea;
    cursor: pointer;
}

.mail-list-item article{
    flex-grow: 1;
}

 .mail-preview {
    gap: 2rem;
 }

 .mail-preview :nth-child(1) {
    width: 10.5rem;
 }

 