:root {
    --main-bg-color: lightblue;


    
    --clrMailTxt: #202124;
    --clrSideBarTxt: #001d35;
    --clrMailSideBarBg: #eaf1fb;
    --clrMailListBg:#ffffff;
    --clrMailComposeBtnBg: #c2e7ff;
    --clrMailFolderActiveBg:#d3e3fd;

    --clrIconsHoversBg: #444444;
}