.note-filter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 10px;
    margin-bottom: 3rem;
  }

.input-filter{
    border: none;
    border-bottom: lightgray 1px solid;
    padding: 5px;
    width: 220px;
}

.text-filter-form {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .input-filter::placeholder {
    /* font-weight: bold; */
    opacity: 0.5;
  }