 /* mail index  */
 
 .mail-index {
     display: grid;
     grid-template-columns: minmax(3rem, 15.25rem) auto;
     grid-template-rows: 3.5rem auto;
     background-color: var(--clrMailSideBarBg);
     height: 100vh;
 }

 .mail-index button,
 input {
     border-style: none;
     border-radius: 1rem;
 }


 .mail-index .compose-btn {
     padding: 0;
     display: flex;
     align-items: center;
     width: 50%;
     height: 3.5rem;
     padding: 0.5rem 0.5rem;
     background-color: var(--clrMailComposeBtnBg);
 }

 .compose-btn img {
     width: 1.5rem;
     height: 1.5rem;
     margin-right: 0.5rem;
 }